{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Small Business - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'affiliate/assets/favicon.ico' %}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'affiliate/css/styles.css' %}" rel="stylesheet" />
    </head>
    <body>
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-5">
                <a class="navbar-brand" href="#!">Treadmill Deals</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Content-->
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'affiliate/assets/2.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'affiliate/assets/4.jpg' %}" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="{% static 'affiliate/assets/3.jpg' %}" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
            <!-- Call to Action-->
            <div class="card text-white bg-secondary my-5 py-4 text-center">
                <div class="card-body"><p class="text-white m-0">This call to action card is a great place to showcase some important information or display a clever tagline!</p></div>
            </div>
            <!-- Content Row-->
          
            <div class="row gx-4 gx-lg-5">
               
              <div class="col-md-3 mb-5 card">
                  <img src="{% static 'affiliate/assets/t1.jpg' %}"  class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">PowerMax Fitness TD-M1-A1 Series </h5>
                  <p class="card-text">Light, Foldable, Electric Treadmill【100% Pre-Installed】Running Machine for Max Pro-Workout by Walk, Run & Jog at Home</p>
                 <a href=  "https://www.amazon.in/PowerMax-Fitness-UrbanTrek-Treadmill-Android/dp/B07T3H61JM/ref=sr_1_6?crid=1EZ8TV0RIWBW6&keywords=treadmill+for+home&qid=1637572968&sprefix=treadmill+%2Caps%2C323&sr=8-6" class="btn btn-primary"  >₹23,979.00</a>
                 </div>
                </div>
           
          
               <div class="col-md-3 mb-5 card">
                 <img  src="{% static 'affiliate/assets/t2.jpg'   %}"    class="card-img-top" alt="...">
                      <div class="card-body">
                    <h5 class="card-title">MAXPRO PTM405M Multipurpose Folding Treadmill</h5>
                     <p class="card-text">Electric Motorized Power Fitness Running Machine with LCD Display and Mobile Phone Holder Perfect for Home Use (DIY Installation with video call Assistance)</p>
                    <a href="https://www.amazon.in/PTM405M-Multifunction-Treadmill-Motorized-Installation/dp/B07SRTPV2M/ref=pd_rhf_se_s_vtp_ses_clicks_nonshared_5/261-6250334-0892308?pd_rd_w=4mNyu&pf_rd_p=6dd246e3-720b-442b-acd8-c78c82fb6628&pf_rd_r=32VMFQEYCM2D5HY3X2SE&pd_rd_r=a5bac8ed-a0d1-4ab8-b9c2-cae8e9ad7293&pd_rd_wg=STfkx&pd_rd_i=B08LTDSVVS&psc=1" class="btn btn-primary">₹33,490.00</a>
                             </div>
        </div>
                
                
                        <div class="col-md-3    mb-5 card">
                 <img src="{% static  'affiliate/assets/t3.jpg' %}"   class="card-img-top" alt="...">
                      <div class="card-body">
                    <h5 class="card-title">PowerMax Fitness TDM-9x Series</h5>
                     <p class="card-text">Light, Foldable, Electric Treadmill【LCD Display | BMI 】Running Machine for Max Pro-Workout by Walk, Run & Jog at Home</p>
                    <a href="https://www.amazon.in/Powermax-Fitness-TDM-97-Motorized-Treadmill/dp/B06VVB5XCT/ref=sr_1_4?crid=1EZ8TV0RIWBW6&keywords=treadmill+for+home&qid=1637572968&sprefix=treadmill+%2Caps%2C323&sr=8-4" class="btn btn-primary">₹20,999.00</a>
                             </div>
                        </div>
                    
                        
                           <div class="row gx-4 gx-lg-5">
               
                     
                       <div class="col-md-3 mb-5 card">
                 <img src="{% static    'affiliate/assets/t4.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                    <h5 class="card-title">PowerMax Fitness TD-M1-A1 Series </h5>
                     <p class="card-text">Light, Foldable, Electric Treadmill【100% Pre-Installed】Running Machine for Max Pro-Workout by Walk, Run & Jog at Home</p>
                    <a href= "https://www.amazon.in/PowerMax-Fitness-UrbanTrek-Treadmill-Android/dp/B07T3H61JM/ref=sr_1_6?crid=1EZ8TV0RIWBW6&keywords=treadmill+for+home&qid=1637572968&sprefix=treadmill+%2Caps%2C323&sr=8-6" class="btn btn-primary" class="btn btn-primary">₹23,979.00</a>
                             </div>
                        
                        </div>
                   
                  <div class="col-md-3 mb-5 card">
                 <img src="{% static    'affiliate/assets/t5.jpg' %}" class="card-img-top" alt="...">
                      <div class="card-body">
                    <h5 class="card-title">Sparnod Fitness STH-3000 Series</h5>
                     <p class="card-text">
(4 HP Peak) 2 in 1 Foldable Treadmill for Home Cum Under Desk Walking Pad - Slim Enough to be stored Under Bed
4.6 out of 5 stars 1,077</p>
                    <a href=   "https://www.amazon.in/Sparnod-Fitness-STH-3000-Foldable-Treadmill/dp/B0846LQ4XW/ref=sr_1_9?crid=1EZ8TV0RIWBW6&keywords=treadmill+for+home&qid=1637572968&smid=AT95IG9ONZD7S&sprefix=treadmill+%2Caps%2C323&sr=8-9"  class="btn btn-primary">₹25,699.00</a>
                             </div>
                        
                        </div>
                   
                </div>
            </div>
        </div>
    </div>
     <div class="container px-4 px-lg-5">
            <!-- Heading Row-->
            <div class="row gx-4 gx-lg-5 align-items-center my-5">
                <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." /></div>
                <div class="col-lg-5">
                    <h1 class="font-weight-light">Business Name or Tagline</h1>
                    <p>This is a template that is great for small businesses. It doesn't have too much fancy flare to it, but it makes a great use of the standard Bootstrap core components. Feel free to use this template for any project you want!</p>
                    <a class="btn btn-primary" href="#!">Call to Action!</a>
                </div>
            </div>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'affiliate/js/scripts.js' %}"></script>
    </body>
</html>
